*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    background: rgb(235, 235, 235);
}
.wrapper .left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper .left .face{
    font-size: 5rem;
    padding-right: 10rem;
    color: #3D579D;
    font-weight: 700;
}
.wrapper .left .title{
    font-size: 1.7rem;
    font-family: 'Poppins',sans-serif;
    padding-right: 5rem;
}
.wrapper .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper .right .box{
    height: 25rem;
    width: 30rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px  rgba(0,0,0,.2);
    border-radius: .5rem;
}
.wrapper .right .box form input{
    width: 25rem;
    outline: none;
    border: none;
}
.wrapper .right .box form .text{
    border: 2px solid #bac8ee;
    padding: 0 5px;
    font-size: 1.4rem;
    height: 3rem;
    border-radius: 3px;
}
.wrapper .right .box form .pass{
    width: 23rem;
    padding: 0 5px;
}
.wrapper .right .box form .log{
    width: 26.3rem;
    background: #3D579D;
    color: #fff;
    height: 2.3rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 3rem;
}
.wrapper .right .box form .newAc{
    background: rgb(0, 216, 0);
    color: #fff;
    height: 3rem;
    width: 26rem;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    border-radius: 3px;
    margin-left: 3px;
}
.wrapper .right .box form .newAc:hover{
    background: rgb(2, 168, 2);
}
.wrapper .right .box form .forgot{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
}
.fa{
    cursor: pointer;
    font-size: 1.6rem;
    padding-right: 2px;
}
.wrapper .right .box form .border{
    width: 26rem;
    display: grid;
    place-items: center;
    border: 2px solid #bac8ee;
    height: 3rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 3px;
}